In [46]:
import pandas as pd

df = pd.read_csv("tox21.csv")
df.head()

,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53,mol_id,smiles
0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX3021,CCOc1ccc2nc(S(N)(=O)=O)sc2c1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,TOX3020,CCN1C(=O)NC(c2ccccc2)C1=O
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,TOX3024,CC[C@]1(O)CC[C@H]2[C@@H]3CCC4=CCCC[C@@H]4[C@H]...
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,TOX3027,CCCN(CC)C(CC)C(=O)Nc1c(C)cccc1C
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX20800,CC(O)(P(=O)(O)O)P(=O)(O)O

In [49]:
df_valid = df.dropna()
df_valid = df_valid.drop(columns=["smiles", "mol_id"])
print(f"Length of df = {len(df_valid)}")

df_overview = pd.DataFrame()
df_overview["#toxic"] = df_valid.sum().to_frame().astype("float32")
df_overview["% over df"] = df_overview["#toxic"]/len(df_valid)*100
df_overview

Length of df = 3079

               #toxic  % over df
NR-AR            59.0   1.916207
NR-AR-LBD        34.0   1.104255
NR-AhR          154.0   5.001624
NR-Aromatase     55.0   1.786294
NR-ER           244.0   7.924651
NR-ER-LBD        67.0   2.176031
NR-PPAR-gamma    26.0   0.844430
SR-ARE          196.0   6.365703
SR-ATAD5         11.0   0.357259
SR-HSE           50.0   1.623904
SR-MMP          142.0   4.611887
SR-p53           28.0   0.909386

In [36]:
a = df_valid.sum().to_frame()

In [37]:
a["suca"] = "Aaa"

In [38]:
a

                                                               0 suca
NR-AR                                                       59.0  Aaa
NR-AR-LBD                                                   34.0  Aaa
NR-AhR                                                     154.0  Aaa
NR-Aromatase                                                55.0  Aaa
NR-ER                                                      244.0  Aaa
NR-ER-LBD                                                   67.0  Aaa
NR-PPAR-gamma                                               26.0  Aaa
SR-ARE                                                     196.0  Aaa
SR-ATAD5                                                    11.0  Aaa
SR-HSE                                                      50.0  Aaa
SR-MMP                                                     142.0  Aaa
SR-p53                                                      28.0  Aaa
mol_id         TOX20800TOX6619TOX6612TOX6615TOX14833TOX1883TO...  Aaa
smiles         CC(O)(P(=O)(O)O)P(=O)(O)OO=S(=O)(Cl)c1ccccc1CC...  Aaa